*{
margin:0;
padding:0;
box-sizing:box-boxing;
}
html,body{
    height:100%;
    width: 100%;
}
body{
    height:"100%" ;
    width:"100%" ;
}
header{
    height: 100px;
    width:100%;
    border:1px solid black;  
    background-color: black;   
    /* position: fixed;     */
}
.content{
    margin-top: 20px;
}
footer{
    height: 200px;
    width: 100%;
    border:1px solid black;
    display:block; 
    background-color: aquamarine; 
}
.link{
    padding-left:50px ;
}
h1{
    color:aqua;
    text-align: center;
    margin-top: 5px;
}
button{
    margin-left: ;
}
input{
    margin-left: 90px;
}
.box{
    height: 300px;
    width: 250px;
    border: 1px solid black;
    display:inline-block;
    margin-top:10px;
    margin-left: 38px;
    margin-bottom: 10px;   
}
.sub_box{
    height: 80%;
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    border: 1px solid black;
}